<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <title>Document</title>
     </head>
     <body>
          <div id="demo">
               <span v-if="a>b">Now You See ME</span>
               <span v-if="b>a">You can't see me</span>
          </div>
          <script src="vue.js"></script>
          <script src="conditionalRenderingRevisied.js"></script>
     </body>
</html>
